
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="/css/travelcardstyle.css">
<div th:include="header.html"></div>



<div class="hero hero-inner" style="background-color: #68D2E8;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto text-center">
                <div class="intro-wrap">
                    <h1 class="mb-0">Pick Your Voyage</h1>
                    <p class="text-white">Explore and choose your next adventure with us!</p>
                    <a class="btn btn-primary" id="showTravels" onclick="scrollToTravels()">Explore Travels</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="travelsContainer" class="untree_co-section">
    <div class="container">
        <div class="row">
            <!-- Check if voyages is not null -->
            <div th:if="${voyages != null}">
                <!-- Iterate over each voyage and include the card template -->
                <div th:each="voyage : ${voyages}">
                    <div th:replace="~{travelcard :: card(voyage=${voyage},search=${search})}"></div>
                </div>
            </div>
            <!-- If voyages is null, display a message -->
            <div th:if="${noVoyagesMessage != null}" class="alert alert-warning" role="alert">
                <strong th:text="${noVoyagesMessage}"></strong>
                <a href="index.html" class="btn btn-primary">Go to Home</a>
            </div>
        </div>
    </div>
</div>



<div class="py-5 cta-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="mb-2 text-white">Lets you Explore the Best. Contact Us Now</h2>
                <p class="mb-4 lead text-white text-white-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</p>
                <p class="mb-0"><a href="contact.html" class="btn btn-outline-white text-white btn-md font-weight-bold">Get in touch</a></p>
            </div>
        </div>
    </div>
</div>

<div th:include="footer.html"></div>

<script>
    function scrollToTravels() {
        // Scroll to the travels container
        document.getElementById('travelsContainer').scrollIntoView({ behavior: 'smooth' });
    }
</script>
<script src="/js/booking.js"></script>

</body>

</html>
